                body {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 15px;
                    line-height: 1.5;
                    margin: 0;
                    padding: 0;
                    background-color: black;
                    ;
                }
                
                .container {
                    width: 80%;
                    margin: auto;
                    overflow: hidden;
                    color: white;
                }
                
                header {
                    background: #6b5b95;
                    color: #ffffff;
                    padding-top: 30px;
                    min-height: 70px;
                    border-bottom: #e8491d 3px solid;
                }
                
                header a {
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 16px;
                }
                
                header ul {
                    margin: 0;
                    padding: 0;
                }
                
                header li {
                    float: left;
                    display: inline;
                    padding: 0 20px 0 20px;
                }
                
                header nav {
                    float: right;
                    margin-top: 10px;
                }
                
                header #logo {
                    margin: 0;
                    float: left;
                }
                
                .img_1 {
                    width: 50%;
                    margin: auto;
                }
                
                .logo_1 {
                    text-align: cnter;
                }
                
                .active {
                    background-color: #e8491d;
                    padding: 5px;
                }